<div class="col-lg-<%=blk.size%> col-md-<%=blk.size%> col-sm-6 col-xs-12">
    <div class="card">
        <div class="header bg-<%=blk.color%>">
            <h2>
                <%=blk.name%> <small>Description text here...</small>
            </h2>
        </div>
        <div class="body">
            Quis pharetra a pharetra fames blandit. Risus faucibus velit Risus imperdiet mattis neque volutpat, etiam lacinia netus dictum magnis per facilisi sociosqu. Volutpat. Ridiculus nostra.
        </div>
    </div>
</div> 