<% if(page_content.block_register) { %>
<div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
    <div class="panel-group full-body" id="accordion_18" role="tablist" aria-multiselectable="true">
        <div class="panel panel-col-blue">
            <div class="panel-heading" role="tab" id="headingOne_18">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion_18" href="#collapseOne_18" aria-expanded="true" aria-controls="collapseOne_18">
                        <i class="material-icons">perm_contact_calendar</i> New AD-Block
                    </a>
                </h4>
            </div>
            <div id="collapseOne_18" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne_18">
                <div class="panel-body" style="background-color:white">
                   <!-- Basic Example | Horizontal Layout -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>AD Block Registration Wizard</h2>
                        </div>
                        <div class="body">
                            <form id="wizard_with_validation" method="POST">
                                <h3>Website Information</h3>
                                <fieldset>
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="text" class="form-control" name="siteName"  required>
                                            <label class="form-label">Website Name [ex: ABC.lk ]</label>
                                        </div>
                                    </div>
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="text" class="form-control" name="siteURL" required>
                                            <label class="form-label">Site URL [ex: http://ABC.lk ]</label>
                                        </div>
                                    </div>
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="text" class="form-control" name="blockName" required>
                                            <label class="form-label">Block Name [ex: Top-A ]</label>
                                        </div>
                                    </div>
                                   
                                </fieldset>

                                <h3>Block Information</h3>
                                <fieldset>
                                    <div class="row">
                                        <dive class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                            <p>Block Size : </p>
                                        </dive>
                                        <dive class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input min="18" type="number" name="age" class="form-control" required>
                                                    <label class="form-label">Width(px)</label>
                                                </div>          
                                            </div>  
                                        </dive>
                                        <dive class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input min="18" type="number" name="age" class="form-control" required>
                                                    <label class="form-label">Height(px)</label>
                                                </div>          
                                            </div>  
                                        </dive>
                                    </div>
                                    <div class="row">
                                        <dive class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" class="datetimepicker form-control" placeholder="Please choose date & time...">
                                                        </div>
                                                    </div>
                                        </dive>
                                    </div>
                                    
                                   
                                </fieldset>

                                <h3>Terms & Conditions - Finish</h3>
                                <fieldset>
                                    <input id="acceptTerms-2" name="acceptTerms" type="checkbox" required>
                                    <label for="acceptTerms-2">I agree with the Terms and Conditions.</label>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Basic Example | Horizontal Layout -->
                </div>
            </div>
        </div>
    </div>
</div>
<% } %>
        