<div class="card">
    <div class="header">           
        <h2> ABC.lk <small></small></h2>         
    </div>
    <div class="body">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box hover-expand-effect">
                    <div class="icon bg-light-green">
                        <i class="material-icons">arrow_upward</i>
                    </div>
                    <div class="content">
                        <div class="text">PxPrice</div>
                        <div class="number">Rs.1.67</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box hover-expand-effect">
                    <div class="icon bg-red">
                        <i class="material-icons">shopping_cart</i>
                    </div>
                    <div class="content">
                        <div class="text">Buy/10days</div>
                        <div class="number">Rs.52K</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-amber">
                    <div class="icon">
                        <i class="material-icons">trending_up</i>
                    </div>
                    <div class="content">
                        <div class="text">Impressions</div>
                        <div class="number">24567</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-blue-grey">
                    <div class="icon">
                        <i class="material-icons">thumb_up</i>
                    </div>
                    <div class="content">
                        <div class="text">Demand</div>
                        <div class="number">+2</div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>
    
