<!DOCTYPE html>
<html>
    <head>
         <% include UIComponents/ThemeScripts/Theme_CSS.ejs %>
        <title><%=pageBasic.page_title %></title> 
    </head>
    <body class="theme-red">
        <% include UIComponents/UIWidget/pageLoader.ejs %>
        <div class="overlay"></div><!-- Overlay For Sidebars -->
        <% include UIComponents/UIWidget/searchBar.ejs %> <!-- Search Bar -->
        <% include UIComponents/UIWidget/headerBar.ejs %> <!-- Top Bar -->
        <% include UIComponents/UIWidget/leftMenu.ejs %> <!-- Left Menu -->

        <section class="content">
            <div class="container-fluid">
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <a href="./webSiteOwner">
                        <div class="card">
                            <div class="body bg-green">
                                <h2>WebSite Owner Login</h2>
                                   
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <a href="./adClient">
                        <div class="card">
                            <div class="body bg-blue">
                                <h2>AD client Login</h2>     
                                       
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <% include UIComponents/ThemeScripts/Theme_JS.ejs %>
    </body>