<!DOCTYPE html>
<html>
    <head>
         <% include UIComponents/ThemeScripts/Theme_CSS.ejs %>
         <% if(page_content.formWizard){ %>
            <% include UIComponents/SpecWidget/formWizard_css.ejs %>
        <% } %>
         <title><%=pageBasic.page_title %></title> 
         
    </head>
    <body class="theme-red">
        <% include UIComponents/UIWidget/pageLoader.ejs %>
        <div class="overlay"></div><!-- Overlay For Sidebars -->
        <% include UIComponents/UIWidget/searchBar.ejs %> <!-- Search Bar -->
        <% include UIComponents/UIWidget/headerBar.ejs %> <!-- Top Bar -->
        <% include UIComponents/UIWidget/leftMenu.ejs %> <!-- Left Menu -->

        <section class="content">
            <div class="container-fluid">
                 <%include UIComponents/UIWidget/dash4panels.ejs %> <!-- Top 4 wigets -->
            </div>
            <% if(page_content.adblocksView){ %>
                <div class="row clearfix">
                    <% page_content.adblocksView.blocks.forEach(function(blk){ %>
                        <%include UIComponents/UIWidget/block_view.ejs {blk:blk} %>
                    <% }); %>
                </div>
            <% } %>
            <%include UIComponents/UIWidget/block_register.ejs %>
        </section>
       
       
        <% include UIComponents/ThemeScripts/Theme_JS.ejs %>
        <% if(page_content.block_register){ %>
            <% include UIComponents/SpecWidget/formWizard.ejs %>
        <% } %>
        <% if(page_content.adblocksView){ %>
            <% include UIComponents/SpecWidget/infobox_adblock.ejs %>
        <% } %>
    </body>