<!DOCTYPE html>
<html>
    <head>
         <% include UIComponents/ThemeScripts/Theme_CSS.ejs %>
        <title><%=pageBasic.page_title %></title> 
    </head>
    <body class="theme-red">
        <% include UIComponents/UIWidget/pageLoader.ejs %>
        <div class="overlay"></div><!-- Overlay For Sidebars -->
        <% include UIComponents/UIWidget/searchBar.ejs %> <!-- Search Bar -->
        <% include UIComponents/UIWidget/headerBar.ejs %> <!-- Top Bar -->
        <% include UIComponents/UIWidget/leftMenu.ejs %> <!-- Left Menu -->

        <section class="content">
            <div class="container-fluid">
                 <%include UIComponents/UIWidget/dash4panels.ejs %> <!-- Top 4 wigets -->
                
            </div>
        </section>
       
       
        <% include UIComponents/ThemeScripts/Theme_JS.ejs %>
    </body>