<!DOCTYPE html>
<html>
    <head>
        <% include ThemeScripts/Theme_CSS.ejs %>
        <title><%=pageBasic.page_title %></title>
    </head>
    <body class="theme-red">
        <!-- <% include UIWidget/pageLoader.ejs %> --> <!-- Page loader -->
        <!--<div class="overlay"></div><!-- Overlay For Sidebars -->
        <!--<% include UIWidget/searchBar.ejs %> <!-- Search Bar -->
        <!--<% include UIWidget/headerBar.ejs %> <!-- Top Bar -->
       <!-- <% include UIWidget/leftMenu.ejs %> <!-- Left Menu -->
        

        <% include ThemeScripts/Theme_JS.ejs %>

    </body>